<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UibezierPathDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51316AF81D65B5ED001FED9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51316B111D65B5ED001FED9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51316B1C1D65B5ED001FED9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
